<div class="page-header">
  <h2>About</h2>
</div>
<p>This Angular app was implemented as part of the <strong>Bootcamp Angular+Firebase</strong> held in <a href="http://www.venturus.org.br/" target="_blank">Venturus</a> in April 2018.</p>
<p>The main purpose is to let the developer learn essential Angular concepts and the basics of Firebase so it is possible to build an app which communicates with real-time databases and is deployed in Firebase.</p>
<div class="alert alert-success">
  <p><strong>We are hiring!</strong></p>
  <p>Learn more about our open positions in our <a href="http://www.venturus.org.br/carreiras" target="_blank">Careers page</a>.</p>
</div>